<!-- views/download.html -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download - ConvertMate</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <!-- Usamos o mesmo CSS do index -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/downloadPage.css">
</head>
<body>

    <header>
        <div class="container">
            <a href="/" class="logo-link"><h1 class="logo"><img src="../img/logo.png" class="logo-img">ConvertMate</h1></a>
            <nav>
                 <!-- Link para voltar à página inicial -->
                 <a href="/">Nova Conversão</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="download-section" class="container">
            <div class="download-card">
                <i class="fa-solid fa-circle-check"></i>
                <h2>Conversão Concluída!</h2>
                <p>Seu arquivo <strong id="filename-display" class="filename">arquivo.pdf</strong> está pronto.</p>
                <div class="actions">
                    <a id="download-button" href="#" class="button primary">
                        <i class="fa-solid fa-download"></i> Baixar Arquivo
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>© 2023 ConvertMate. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="../js/downloadPage.js"></script>
</body>
</html>